body{
    background-color:blueviolet;
}

.flex-container{
    display:flex;
    flex-direction: column;
}

#info{
    
}
h1{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
#tag-line{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

#selected_works{
}

 .work  img{
    height:600px;
    width:650px;
}

#logo{
    width:50px

}